<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <Header>
        <h1>Monsters & Cryptids Homepage</h1>
        <nav>
            <a href="/monsters/catalog">Monster Encylopedia</a>
            <a href="">Cultures</a>
            <a href="">Documenteries</a>
            <a href="">About Us</a>
            <a href="">Contact Us</a>
        </nav>
    </Header>
</body>
</html>