<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Monster</title>
</head>
<body>
    <h1>Add A New Specimen to the Collection</h1>
    <form action="/monsters">
        <div>
            <label for="Name">What is this creature called?:</label>
            <input type="text" name="Name" id="Name"/>
        </div>

        <div>
            <label for="Appearance">What does this creature look like?:</label>
            <input type="text" name="Appearance" id="Appearance"/>
        </div>

        <div>
            <label for="Culture">What Culture does this creature originate from?:</label>
            <input type="text" name="Culture" id="Culture"/>
        </div>

        <div>
            <label for="Symbolism">What is the symbolic significance of this creature?:</label>
            <input type="text" name="Symbolism" id="Symbolism"/>
        </div>

        <div>
            <label for="Abilities">Does this particular creature have any powers or abilities? If so, what are they?:</label>
            <input type="text" name="Abilities" id="Abilities"/>
        </div>

        <div>
            <label for="Origin">What is creature based off of? Where does its real-life inspiration comes from</label>
            <input type="text" name="Origin" id="Origin"/>
        </div>

        <button type="submit">Add Monster</button>
    </form>
</body>
</html>